<navbar class="bottom-5"></navbar>
<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div class="form-group has-success bottom-0">
				<div class="input-group">
					<span class="input-group-addon">
						<span class="glyphicon glyphicon-search"></span>
					</span>
					<input type="text" class="form-control" id="inputGroupSuccess1" aria-describedby="inputGroupSuccess1Status" ng-model="search.keyword"
					       ng-change="changeWord()">
				</div>
			</div>
			<div>
				<div class="customer-item" ng-click="newCustomer()" ng-if="!search.keyword">
					<div class="customer-icon">
						<img class="max-36" src="http://file.gddata.net/tas/defaulticon.jpg">
					</div>
					<div class="customer-name">
						新的客户
					</div>
				</div>
				<div ng-repeat="l in customerList">
					<div class="group-name">{{l.letter}}</div>
					<div class="customer-item" ng-repeat="c in l.list">
						<div ng-click="showDetail(c.id)">
							<div class="customer-icon">
								<img class="max-36" src="http://file.gddata.net/tas/defaulticon.jpg">
							</div>
							<div class="customer-name">
								<strong>{{c.name}}</strong>
								<span class="color-gray">{{c.birthday}}</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<footer></footer>
