<navbar></navbar>
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h1>Login</h1>
			<p>Accounts are reset on server restart from <code>server/config/seed.js</code>. Default account is <code>test@example.com</code> /
				<code>test</code></p>
			<p>Admin account is <code>admin@example.com</code> / <code>admin</code></p>
		</div>
		<div class="col-sm-12">
			<form class="form" name="form" ng-submit="login(form)" novalidate>
				<div class="form-group">
					<label>用户名</label>
					<input type="text" name="username" class="form-control" ng-model="user.username" required>
				</div>
				<div class="form-group">
					<label>密码</label>
					<input type="password" name="password" class="form-control" ng-model="user.password" required>
				</div>
				<div>
					<button class="btn btn-inverse btn-lg btn-login" type="submit">
						登录
					</button>
				</div>
			</form>
		</div>
	</div>
	<hr>
</div>
