<navbar></navbar>
<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div class="customer-item" ng-repeat="c in customers">
				<div ng-click="showDetail(c.id)">
					<div class="customer-icon">
						<img class="max-36" src="http://file.gddata.net/tas/defaulticon.jpg">
					</div>
					<div class="customer-name">
						<strong>{{c.name}}</strong>
						<span ng-if="c.willBirthday" class="glyphicon glyphicon-gift icon-gift"></span>
						<span class="color-gray">{{c.birthday}}</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<footer></footer>
